@media only screen and (max-width: 320px) {
    header nav{
        background: transparent;
        height: 0;
        width: 0;
    }
    header nav .links{
        display: none
    }
    header nav .title h2{
        color: #1e1e1e;
    }
    main{
        display: flex;
        flex-direction: column-reverse;

    }
    main .lang{
        display: none;
    }
    main .trns_box{
        width: 18rem;
        height: 12rem;
        margin: -3rem auto 4rem auto;
    }
    main .trns_box textarea{
        width: 15.8rem;
        border: .5px solid silver;
        height: 10rem;
        margin: 1rem;
        font-size: 14px;
        max-lines: 10;
    }
}